# Ignore everything
*

# But not these files...
!/.gitignore
!/.github/**
!.golangci.yml
!cliff.toml
!build.sh
!cosign.pub

# Go
!*.go
!go.sum
!go.mod

!README.md
!LICENSE

# Documentation files (handled by GitHub Actions)
!docs/**
!mkdocs.yml

# ...even if they are in subdirectories
!*/

.DS_Store
